/* Global CSS variables */
:root {
    --primary-color: #D21034;
    --secondary-color: #007E3A;
    --text-color: #333;
}

/* Typography */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}
h1, h2 {
    color: var(--primary-color);
}

/* Layout and components */
header, footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.hero {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
.hero img {
    width: 100%;
}

.weather {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
}
.weather-icon {
    fill: white; /* Set the fill color for the SVG icon */
    width: 24px; /* Adjust size if needed */
    height: 24px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

